*{
     /* outline: 1px solid black;    */
}
.test{
    text-align: center;
    padding: 20px;
}

body{
    background: url('./ocean.jpg') no-repeat center center fixed;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.card-img-top{
    width: 250px;
    height: 250px;
}
.card-deck{
    text-align: middle; 
    display: inline-block;
    width: 100%;
}
.card{
    width: 250px;
    padding: 5px;
    text-align: left; 
    display: inline-block;

    margin: auto;
}
.card-title{
    height: 35px;
    font-size: 12px;
}

.btn{
    width: 50px;
    font-size: 10px;
    text-align: center;
}

.card-outline-primary{
    padding: 0;
    margin: 5px;
}

.btn-primary{
    width: 100px;
}

p, h4{
    font-size: 12px;
}

#player{
    text-align: center;  
    
}

.sticky{
    position: sticky; 
    top:0;
    z-index: 100000;   
}